#style {
    font-style: italic;
}

span {
    color: orange;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}



.half-width {
    width: 50%;
    padding-left: 10%;
}

.half-width img {
    width: 70%;
}

.button-style {
    text-decoration: none;
    background-color: rgb(169, 95, 68);
    padding: 8px 40px;
    color: white;
    font-weight: 800;
    border-radius: 5px;
}

.top-banner {
    display: flex;
    margin-bottom: 150px;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.middle-banner {
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 150px;

}

.second-width {

    text-align: line;
    width: 30%;
    padding-left: 15%;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: 10px 10px 10px 10px greenyellow;

}

.experience {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

#first {
    border-left: 7px solid tomato;
}

#second {
    border-right: 7px solid blue;
}

#center {
    text-align: center;
}